/* stylesheet.css */

#tagliner {color:#cdd0d5;
font-family: 'Comfortaa', cursive;
font-size: 16px;
text-align: center;
margin: auto;
}

#headliner {color:#fc846b;
font-family: 'Comfortaa', cursive;
font-size: 80px;
text-align: center;
padding-bottom: 10px;
margin: auto;
}

#footliner {color:#cdd0d5;
font-family: 'Comfortaa', cursive;
font-size: 10px;
text-align: center;
padding-top: 0px;
padding-bottom: 0px;
position:fixed;
bottom:0;
left:0;
right:0;
height:30px;
}

#gobits.to.the.left {
position:absolute;
bottom:0;
left:0;
font-size:2.0rem;
font-family:Comfortaa;
color:#fc846b;
padding:1rem 2rem
}

#gobits.to.the.right {position:absolute;
     bottom:0;
     right:0;
     font-size:1.8rem;
     font-family:Comfortaa;
     color:#fc846b;
     padding:1rem 2rem
}

#level.1.box {
     display:flex;
     flex-direction:column;
     min-height:100%;
font-family: Comfortaa;}

#level.2.box {
     width:100%;
     flex:1;
     display:flex;
     flex-direction:column;
     align-items:center;
     justify-content:center
}

/*button deets*/
.lets-gobit-btn {
  background-color: #fc846b;
  color: white;
  padding: 13px 25px;
  border-radius: 100px 100px 100px 100px;
  text-align: center;
  align: center;
  text-decoration: none;
  font-size: 25px;
}

/* goal hopper css*/
.goalStagnant {
  color: #000000;
  font-size: 50px;
  text-align: left;
  vertical-align: middle;
  padding-top: 20px;
  padding-bottom: 20px;
}
#goalHop {
  color: #cdd0d5;
  font-size: 50px;
  text-align: right;
  vertical-align: middle;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
}
.goalBox {
  display: block;
  width: 100%;
  padding-top: 160px;
  text-decoration: none;
  position: fixed;
}
.center-btn {
  text-align: center;
}
a:link {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
